.loading-spinner {
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    fill: hsla(0, 0%, 50%, 0.502);
    color: hsl(0, 0%, 100%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media(min-width: 60em) {
    .loading-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}